body { 

}

#banner{ 
    width: 100%;

}

.principal { 
    background: #ccc;
    padding: 30px;

}

.titulo-principal { 
    padding-left: 20px; 

}

.titulo-centralizado { 
    text-align: center;

}

p {
    text-align: center;
    
}

#missao { 
    font-size: 20px;
}

p em strong { 
    color: red;
}

.beneficios{
    background: #FFFF;
    padding: 20px;
    border: blue solid 1px;
 }

 .itens{ 
    font-style: italic;
 }

 ul { 
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
 }

#imgbeneficios { 
    width: 50%;
    height: 50%;
}